<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.networkingapp">

    <application
            android:allowBackup="true"
            android:icon="@drawable/nord"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".profile.ExperienceActivity">
        </activity>
        <activity android:name=".profile.GoalsActivity">
        </activity>
        <activity android:name=".profile.AboutActivity">
        </activity>
        <activity android:name=".profile.WebActivity">
        </activity>
        <activity android:name=".profile.LinkedinActivity">
        </activity>
        <activity android:name=".profile.InstagramActivity">
        </activity>
        <activity android:name=".profile.InterestsActivity">
        </activity>
        <activity android:name=".profile.BasicInfoActivity">
        </activity>
        <activity
                android:name=".activities.SignupActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".activities.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".activities.StartupActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.TinderActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>